body {
  background-color: #91C3EA;
}

main{
  display: flex;
  justify-content: center;
}

header {
  border-bottom: 5px solid;
  text-align: center;
}

section {
  display: flex;
  flex-direction: column;
  padding: 8px 4px 8px 4px;
  align-items: center;
  border: solid;
  margin: 5px;
  width: 500px;
  background-color: rgb(167, 165, 163);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.inputs {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  margin: 10px;
}
