body{
  background-color: #91C3EA;
}

header{
  border-bottom: 5px solid;
  text-align: center;
}

.inputs{
    width: 300px;
}

.decisionPanel{
  display: flex;
  flex-direction: column;
   padding: 2px;
   align-items: center;
}