body{
  background-color: #91C3EA;
}

header{
  display: flex;
  border-bottom: 5px solid;
  align-items: center;
  justify-content: center;
}

ul {
  list-style: none;
}

.game{
  display: flex;
  flex-direction: column;
  height: 200px;
  font-weight: bold;
  text-align: center; 
  align-items: center;
}

.game > * {
  flex: 1 auto;
}

.score{
  display:flex;
  gap: 10px;
}



#Question{
  font-size: 40px;
}