body{
  background-color: #91C3EA;
}

header{
  border-bottom: 5px solid;
  text-align: center;
}

.game{
  display: flex;
  flex-direction: column;
  height: 500px;
  font-weight: bold;
  text-align: center; 
  align-items: center;
}

.score{
  display:flex;
  gap: 10px;
}

.game > * {
  flex: 1 auto;
}

#Question{
  font-size: 40px;
}